<div class="box">
  <div class="row">
    <table>
      <tr>
        <td>
          <h6>Amount</h6>
          <input
            type="float"
            [value]="Amount"
            (change)="input3(input.value)"
            onkeypress="return (event.charCode == 8 || event.charCode==0) ?null : event.charCode>=46 && event.charCode <=57 && event.charCode!=47"
            #input
          />
        </td>

        <td style="justify-items: stretch">
          <div class="currency-selector">
            <div>
              <h6>From</h6>
              <select
                #from
                [value]="fromCurrency"
                (change)="fromSelected(from.value)"
                [ngStyle]="{
                  'pointer-events': isInDetails && 'none',
                  'background-color': isInDetails && '#626466'
                }"
              >
                <option [selected]="fromCurrency" [value]="'USD'">USD</option>
              </select>
            </div>
            <p>⬅️➡️</p>
            <div>
              <h6>To</h6>
              <select #to [value]="toCurrency" (change)="toSelected(to.value)">
                <option
                  *ngFor="let option of currencies"
                  [value]="option"
                  [selected]="option === toCurrency"
                >
                  {{ option }}
                </option>
              </select>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="position">
          <button class="button" (click)="handleConvert()">Convert</button>
        </td>
      </tr>
      <tr>
        <td>
          <small class="default-result">
            {{
              "1 " +
                fromCurrency +
                " = " +
                currencyData[toCurrency].toFixed(3) +
                " " +
                toCurrency
            }}
          </small>
        </td>
        <td class="position">
          <strong class="result"
            >{{
              Amount +
                " " +
                fromCurrency +
                " = " +
                handleConvert().toFixed(3) +
                " " +
                toCurrency
            }}
          </strong>
          <button
            class="button"
            (click)="handleMoreDetailsClick()"
            *ngIf="!isInDetails"
          >
            More Details
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
