<app-currency-converter-form
  [toCurrency]="currencyConverterService.getToCurrency()"
  [fromCurrency]="currencyConverterService.getFromCurrency()"
  [Amount]="currencyConverterService.getAmount()"
></app-currency-converter-form>

<div class="box2">
  <table>
    <tr *ngFor="let row of ninePopularCurr; let i = index">
      <td *ngFor="let item of row; let j = index">
        <div>
          <h6>
            {{ item }}
            <p>
              {{ currencyConverterService.getCurrencyData()[item].toFixed(3) }}
            </p>
          </h6>
        </div>
      </td>
    </tr>
  </table>
</div>
